@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --cor-principal: #5e2020;
    --cor-secundaria: #490000;
    --cor-destaque: #fc2b2b;
    --cor-background: #ffe4e1;
    --cor-hover: #e9967a;
}

body {
    font-family: "Blinker", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--cor-principal);
    background-color: var(--cor-background);
}

h1, h2, h3, h5, a {
    font-weight: 700;
    color: var(--cor-secundaria);
}

h2 {
    margin-right: 10px;
}

button {
    margin: 0 2px;
    border: none;
}

.perfil {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    margin-bottom: 2em;
}

.side-button {
    display: flex;
    align-items: center;
}

.btn-link {
    background-color: white;
}

.lead, .btn-link {
    font-weight: 700;
    color: var(--cor-destaque);
}

a, .btn-link:hover {
    color: var(--cor-principal)
}

a:hover {
    color: var(--cor-destaque);
}

.col-md-4 {
    display: flex;
    align-items: center;
}

.local-link:hover {
    color: var(--cor-hover);
}

.local-link {
    font-weight: 400;
    background-color: var(--cor-secundaria);
}

.local-wine {
    color: var(--cor-secundaria);
}

.local-red {
    border-color: var(--cor-destaque);
}

.card {
    margin: 1em 0;
    background: #fff;
    border-radius: 8px;
    min-height: 500px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.modal-content {
    background-color: white;
}

.modal-body {
    padding: 0 12px 6px 12px;
}

.modal-footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    padding: 6px 12px 12px 12px;
}

::selection {
    background-color: var(--cor-principal);
    color: var(--cor-background);
}

@media (max-width: 990px) {
  .perfil {
    flex-direction: column;
    text-align: center;
  }
}